<nav class=" navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="Home.html">PeliCritics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav me-3 mb-2 mb-lg-0">
                <li class="nav-item">
                    <form class="d-flex">
                        <input id="find" class="form-control me-2" type="text" placeholder="Search"
                            aria-label="Search" onkeyup="search()">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>

</nav>

<br>

<div class="container-fluid">

    <div class="row row-cols-1 row-cols-md-2 g-12">

        <div class="ListPelis">

            <div class="col">
                <div class="card">
                    <img src="img/Drac.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(0, 0, 0);">Dracula</h5>
                    </div>
                </div>
            </div>

        </div>


        <div class="description">
            <ul class="list-group list-group-light list-group-small">
                <li class="list-group-item">Descripcion: El barco mercante "Demeter" parte de los Balcanes para
                    entregar en Londres 50 cajas de madera sin clasificar. La tripulación descubre que viaja con
                    ellos un vampiro sediento de sangre que convertirá la travesía en una pesadilla.</li>
                <li class="list-group-item">Estrero: 2023 </li>
                <li class="list-group-item">André Øvredal</li>
            </ul>
        </div>
       


        <div class="mb-3 ">
            <label for="formGroupExampleInput" class="form-label">Dejanos comentario</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Comentarios">
        </div>

    </div>




   


</div>