  <!---Barra de Navegacion-->
  <nav class=" navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="Home.html">PeliCritics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav me-3 mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="d-flex">
              <input id="find" class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                onkeyup="search()">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>

        </ul>
      </div>
    </div>

  </nav>


  <!---Presentacion-->
  <div class="Presentation">
    <div class="PresentationText">
      <h1 class="titlePresentationText">PeliCritics</h1>
      <p class="">Las mejores peliculas para ver</p>
    </div>
  </div>



  <div class="container-fluid ">

    <!---Categorias de Peliculas-->

    <div class="filtroBox">
      <div class="accordion row-cols-5 " id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne" style="background-color:rgb(153, 1, 1)">
              <strong style="color: rgb(255, 255, 255);">Filtros</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">

            <div class="accordion-body">

              <!--Opciones de Generos-->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCompu" aria-expanded="false" aria-controls="collapseCompu"
                    style="background-color: rgb(153, 1, 1);">
                    <strong style="color: rgb(255, 255, 255);"> Generos</strong>
                  </button>
                </h2>
                <div id="collapseCompu" class="accordion-collapse collapse" data-bs-parent="#accordionCompu">

                  <div class="accordion-body">

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="OptionTerror">
                      <label class="form-check-label" for="OptionTerror">
                        Terror
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="OptionAventura" >
                      <label class="form-check-label" for="OptionAventura">
                        Aventura
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="OptionFiccion">
                      <label class="form-check-label" for="OptionFiccion">
                        Ciencia Ficción
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="OptionAccion">
                      <label class="form-check-label" for="OptionAccion">
                        Acción
                      </label>
                    </div>

                  </div>
                </div>

              </div>

              <!--Opciones de Fecha-->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCelu" aria-expanded="false" aria-controls="collapseCelu"
                    style="background-color: rgb(153, 1, 1)">
                    <strong style="color: rgb(255, 255, 255);"> Fecha</strong>
                  </button>
                </h2>
                <div id="collapseCelu" class="accordion-collapse collapse" data-bs-parent="#collapseCelu">

                  <div class="accordion-body">

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        90´
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                      <label class="form-check-label" for="flexCheckChecked">
                        2001
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        2013
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        2018
                      </label>
                    </div>


                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        2019
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        2023
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        2024
                      </label>
                    </div>

                  </div>
                </div>
              </div>

              <!--Opciones de Tipo de Pelicula-->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseConso" aria-expanded="false" aria-controls="collapseConso"
                    style="background-color: rgb(153, 1, 1)">
                    <strong style="color: rgb(255, 255, 255);"> Tipo</strong>
                  </button>
                </h2>
                <div id="collapseConso" class="accordion-collapse collapse" data-bs-parent="#acollapseConso">
                  <div class="accordion-body">

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Películas
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                      <label class="form-check-label" for="flexCheckChecked">
                        Series
                      </label>
                    </div>



                  </div>
                </div>
              </div>
              <br>
              <form class="d-flex">
                <button id="buscarPel" class="btn btn-outline-success" type="submit">Search</button>
              </form>

            </div>

          </div>
        </div>

      </div>
    </div>

    <br>
    <br>

    <!---Presentacion de productos-->

    
      <div class="row row-cols-md-5 g-4">



        <div class="ListPelis">
          <a href="DescriptionP.html">
            <div class="col">
              <div class="card" id="Pel_Dracula">
                <img src="img/Drac.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: rgb(0, 0, 0);">Dracula</h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card" id="Pel_FNAF">
              <img src="img/FNAF.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Five Nights at Freddy´s</h5>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/GK.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Godzilla x Kong</h5>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/Hob.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">El Hobbit la Desolacion de Smaug</h5>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/JP.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Jurassic Park</h5>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/TdP.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Titanes del Pacifico</h5>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/G_II.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Godzilla II El rey de los Montruos</h5>
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/JPII.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">EL Mundo Perdido de Jurassic Park</h5>
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/JP_III.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Jurassic Park III</h5>
              </div>
            </div>
          </div>
        </div>
  
        <div class="ListPelis">
          <div class="col">
            <div class="card">
              <img src="img/RPO.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(0, 0, 0);">Ready Player One: Inicia el Juego</h5>
              </div>
            </div>
          </div>
        </div>
  

